body{
	background-color: #000;
	color:#fdfdfd;
	font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
	text-align: left;
	font-size: 11pt;
}



#head{
	color:#fdfdfd;
	font-size: 32pt;
	padding-left: 1%;
	padding-bottom: 1%;
	text-decoration: none;
}

#title{
	font-size: 32pt;
	padding-left: 1%;
	padding-bottom: 1%;
}

#subtitle{
	padding-left: 1%;
}

#subbody{
	padding-bottom: 3%;
}

#canvasdiv{
	text-align: left;
}

#subheading{
	font-weight: bold;
}

#controls{
	font-weight: normal;
	padding-left: 1%;
}
